%h1 Аэропорты России

#map

- content_for :scripts do
  = javascript_include_tag "http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU"

  :javascript
    var airports = [];

  - @airports.each do |airport|
    = javascript_tag "airports.push(jQuery.parseJSON('#{airport.to_json}'));"

  :javascript
    var myMap;
    var center_coordinates = [56.416667, 94.25];

    ymaps.ready(init);

    function init() {
      myMap = new ymaps.Map ("map", {
        center: center_coordinates,
        zoom: 3,
        type: 'yandex#hybrid'
      })

      add_airports(airports);
    };

    function add_airports(airports) {
      for (var i = 0; i < airports.length; i++) {
        add_airport(airports[i]);
      }
    };

    function add_airport(airport) {
      var coordinates = [airport.latitude_deg, airport.longitude_deg];
      var placemark = new ymaps.Placemark(coordinates, {
        name: airport.name,
        balloonContentHeader: "✈ " + airport.name + " (" + airport.municipality + ")",
        balloonContentBody: '<img src=http://f.cl.ly/items/3J0l0b3v160K3z2r0o2f/default_airport.png>',
        balloonContentFooter: "Купить билет сюда на завтра!".link(airport.kupibilet_url)
      }, {
          preset: "twirl#airplaneIcon"
      });
      myMap.geoObjects.add(placemark);
    };

